@import "src/styles/variables";

.profile-avatar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  width: 130px;
  border-radius: $rounding_001;
  background-color: $grey2;

  &__img {
    object-fit: contain;
    overflow: hidden;
    border-radius: $rounding_001;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: $rounding_001;
  }

  // Затемнение
  &:hover::after {
    opacity: 0.5;
  }

  &__hover-text {
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none; // Чтобы текст не блокировал события мыши
    text-align: center;
    font-size: $font-size_005;
  }

  &:hover &__hover-text {
    opacity: 1;
  }
}
