<div class="profile__main-info">
    {{> ProfileMainInfo key="Почта" value=this.email}}
    {{> ProfileMainInfo key="Логин" value=this.login}}
    {{> ProfileMainInfo key="Имя" value=this.name}}
    {{> ProfileMainInfo key="Фамилия" value=this.surname}}
    {{> ProfileMainInfo key="Имя в чате" value=this.chatName}}
    {{> ProfileMainInfo key="Телефон" value=this.phone isLast='true'}}
</div>
