<ul>
    <li><a href="#" page="login">Вход</a></li>
    <li><a href="#" page="registration">Регистрация</a></li>
    <li><a href="#" page="pageNotFound">404</a></li>
    <li><a href="#" page="serverError">500</a></li>
    <li><a href="#" page="chatList">Список чатов</a></li>
    <li><a href="#" page="profile">Профиль</a></li>
</ul>
