/*Colors*/
$light-color: #ffffff;
$color-bg-list: #fbfbfb;
$grey1: #eaeaea;
$grey2: #efefef;
$grey3: #f8f8f8;
$text-secondary-color: #999;
$primary-color: #3369f3;
$additional-color: #e4edfd;
$error-color: #ff2f2f;
$dark-color: #1e1e1e;
$dark-color2: rgba(82, 82, 82, 0.5);
$shadow: rgba(0, 0, 0, 0.14);

/*Font size*/
$font-size_010: 40px;
$font-size_009: 20px;
$font-size_008: 16px;
$font-size_007: 15px;
$font-size_006: 14px;
$font-size_005: 13px;
$font-size_004: 12px;
$font-size_003: 11px;
$font-size_002: 9px;
$font-size_001: 8px;

/*Rounding*/
$rounding_007: 5px;
$rounding_006: 10px;
$rounding_005: 50px;
$rounding_004: 30px;
$rounding_003: 12px;
$rounding_002: 8px;
$rounding_001: 50%;

/*Width of profile*/
$profile_width: 510px
