<div class="chat">
    <div class="chat__block chat__block_left">
        <div class="chat__block-header">
            <a class="chat__link-profile" href="#">
                <span class="chat__link-text">Профиль</span>
                <img class="chat__link-img" src="src/assets/images/arrow.svg" alt="arrow icon">
            </a>
            {{> SearchInput}}
        </div>
        <ul class="chat__list">
            {{#each (dateArrSort (chatListData))}}
                {{> Dialog this=this }}
            {{/each}}
        </ul>
    </div>
    <div class="chat-field chat-is-hidden chat-default">
        <p class="chat-field__text">Выберите чат чтобы отправить сообщение</p>
    </div>
    <div class="chat-field chat-field-dialog">
        <div class="chat__header">
            {{> ChatHeader (currentChatData) }}
        </div>
        <div class="chat__main">
            {{> ChatMain (currentChatData) }}
        </div>
        <div class="chat__footer">
            {{> ChatFooter }}
        </div>
    </div>
</div>



