<form class="search__chat">
    <label class="search__chat-label">
        <input class="search__chat-input" type="text" placeholder="Поиск" />
        <img src="src/assets/images/search.svg" alt="search icon" class="search__chat-icon">
    </label>
</form>
