@import "src/styles/variables";

.header {
  min-height: 54px;
  width: 100%;
  border-bottom: 1px solid $grey1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  &_user {
    display: flex;
    align-items: center;

    &__name {
      padding: 0 0 0 10px;
      font-weight: 600;
      font-size: $font-size_005;
    }

    &__avatar {
      width: 34px;
      height: 34px;
      border-radius: $rounding_001;
      background-color: $grey2;
      object-fit: cover;
    }
  }
}
