<div class="error-message">
    <p class="error-message__primary">{{errorNumber}}</p>
    <p class="error-message__additional">{{errorDescription}}</p>
    {{> Button label="Назад к чатам" type="link" class="error-message__button"}}
</div>
