@import "src/styles/variables";

.icon_button {
  background: $primary-color;
  width: 28px;
  height: 28px;
  border-radius: $rounding_001;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &__backward {
    transform: rotate(180deg)
  }
}
