<div class="footer">
    <button class="footer__attach_btn">
        <img src="src/assets/images/attach.svg" alt="attach icon">
    </button>
    <input type="text" class="footer__input" placeholder="Сообщение">
    <button class="footer__send_btn">
        <img src="src/assets/images/send-arrow.svg" alt="attach icon">
    </button>
</div>
