@import "src/styles/variables";

.form-container {
    display: flex;
    justify-content: center;

    &__form {
        display: flex;
        flex-direction: column;
        padding: 50px 30px 30px;
        width: 340px;
        box-shadow: 0 0 6px 0 $shadow;
        border-radius: $rounding_003;
    }

    &__title {
        font-size: $font-size_009;
        color: $dark-color;
        margin: auto;
    }
}
